@import "var.less";
@import "mixin.less";

.kiva-list {
    border: 1px solid @color-border-2;
    padding: 20px;

    &-item {
        border-bottom: 1px solid @color-border-2;
        padding: 15px;
    }
}
