@use "sass:map";

$--colors: () !default;
$--colors: map.deep-merge(
        (
            "white": #FFFFFF,
            "black": #000000,
            "primary": (
                "base": #409EFF,
            ),
            "success": (
                "base": #67C23A,
            ),
            "warning": (
                "base": #E6A23C,
            ),
            "danger": (
                "base": #F56C6C,
            ),
            "error": (
                "base": #F56C6C,
            ),
            "info": (
                "base": #909399,
            )
        ),
        $--colors
);

$--card: () !default;
$--card: map.merge(
        (
            'border-radius': 4px,
            'padding': 15px,
            'background-color': var(--el-color-white),
        ),
        $--card
);

$--font-path: "~element-plus/theme-chalk/fonts";
@import "~element-plus/packages/theme-chalk/src/index";
